.summary-plan {
    background-color: var(--Alabaster);
    padding: 1rem;
}

.summary-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    position: relative;
}

.summary-intro::after {
    content: '';
    position: absolute;
    width: calc(100% - 10px);
    bottom: -10px;
    height: 1px;
    background-color: var(--Light-gray);
}

.summary-periode {
    margin: 0;
    font-weight: 500;
    letter-spacing: 1.1px;
}

.summary-periode span {
    text-transform: capitalize;
}

.summary-change {
    cursor: pointer;
    text-decoration: underline;
    color: var(--Cool-gray);
    margin-top: 0.4rem;
    display: block;
}

.summary-change:hover {
    color: var(--Purplish-blue);
}

.summary-price {
    font-weight: 700;
    color: var(--Marine-blue);
}

.summary-list {
    margin-top: 1.5rem;
}

.summary-list-ele {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-list-ele span:nth-child(1) {
    color: var(--Cool-gray);
}

.summary-list-ele span:nth-child(2) {
    color: var(--Marine-blue);
    font-weight: 500;
}

.summary-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 0 1rem;
}

.summary-total p {
    margin: 0;
    font-size: 0.9rem;
}

.summary-total span {
    font-weight: 700;
    color: var(--Purplish-blue);
}

.summary-btn {
    background-color: var(--Purplish-blue);
}